/**/bin
/**/obj
/**/x86
/**/Setup_x64

/**/Debug
/**/Release

/**/*.log
/**/*.tlog

/**/*.sdf
/**/*.suo
/**/*.user
/**/*.vsp
/**/*.ctl


/**/*.opensdf
/BrailleIO/Resource/TUD_EuroBraille.ttf
/BrailleIO/Resource/TUD_EuroBraille_equidistant_10.ttf
